.checkbox {
  display: flex;
  align-items: center;
}

.checkbox__input {
  cursor: pointer;
  width: 15px;
  height: 15px;
  min-width: 15px;
  margin-right: 10px;
}

.checkbox__input:checked:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background-color: #1151F3;
}

.checkbox__label {
  cursor: pointer;
}

