.menu {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #E5E5E5;
  z-index: 2;
  box-shadow: #4F4F50 2px 3px 8px 0;
  margin-left: -450px;
  transition: margin-left .62s ease-in;
}

.menu.open {
  margin-left: 0;
}

.menu__close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  outline: none;
}

.menu__close:after {
  content: '';
  position: absolute;
  top: 25px;
  right: 25px;
  background-image: url('../../img/close_20dp.svg');
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.menu__list {
  padding: 80px 50px 0 50px;
}

.menu__list-item {
  margin-bottom: 35px;
}

.menu__list-link {
  color: #262526;
  font-size: 45px;
  font-weight: 700;
  border: none;
  background: none;
}

.menu__list-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
