.section {
  padding: 80px;
}

.section__header {
  margin-bottom: 50px;
  color: #262526;
  font-size: 72px;
  font-weight: 700;
}

.section__form {
  max-width: 300px;
}

.section__form-input-wrapper {
  height: 80px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.section__form-input-wrapper:last-of-type{
  margin-bottom: 32px;
}

.section__form-input-wrapper:after{
  content: attr(data-error);
  padding-top: 1px;
  color: #F31155;
  font-size: 14px;
  font-weight: 600;
}

.section__form-label {
  padding-bottom: 4px;
  color: #4F4F50;
  line-height: 20px;
}

.section__form-input {
  height: 36px;
  padding-left: 16px;
  border: 1px solid #AFAFB2;
  border-radius: 4px;
  color: #262526;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.section__form-input_error {
  border-color: #F31155;
}

.section__form-button {
  padding: 8px 0;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #1151F3;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.section__link-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.section__link {
  margin-top: 20px;
}
