.form__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 80px;
  margin-bottom: 22px;
}

.form__input-wrapper:after{
  content: attr(data-error);
  padding-top: 1px;
  color: #F31155;
  font-size: 14px;
  font-weight: 600;
}

.form__label {
  padding-bottom: 4px;
  color: #4F4F50;
  line-height: 20px;
}

.form__input {
  height: 36px;
  padding-left: 16px;
  border: 1px solid #AFAFB2;
  border-radius: 4px;
  color: #262526;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.form__link-container {
  display: flex;
  flex-direction: column;
  align-items:center;
  max-width: 400px;
  padding-top: 20px;
  gap: 20px;
}

.form__textarea {
  height: 150px;
  min-height: 70px;
  padding-top: 8px;
  padding-left: 16px;
  border: 1px solid #AFAFB2;
  border-radius: 4px;
  color: #262526;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  resize: vertical;
}

.form__text-area-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.form__text-area-wrapper:after{
  content: attr(data-error);
  padding-top: 1px;
  color: #F31155;
  font-size: 14px;
  font-weight: 600;
}

.form__link {
  color: #1151F3;
  text-decoration: none;
}

.form__link:hover {
  text-decoration: underline;
}

.form__button-container {
  display: flex;
  justify-content: center;
}

.form__button-container .button {
  width: 100%;
}

.form_error-border {
  border-color: #F31155;
}

//.form__password-checkbox {
//  position: absolute;
//  top: 40%;
//  right: 8px;
//  height: 20px;
//  width: 20px;
//}
//
//.form__password-checkbox:after {
//  content: '';
//  background-image: url('../../src/img/eye-off.svg');
//  width: 20px;
//  height: 20px;
//}