.info-field {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.info-field__label {
  padding-left: 2px;
  text-transform: uppercase;
  color: #AFAFB2;
  font-weight: 600;
  font-size: 12px;
}

.info-field__input {
  width: 100%;
  outline: none;
  border: none;
  color: #262526;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

.info-field__input::placeholder {
  font-weight: 400;
  color: #262526;
}

.bold-font {
  font-weight: 700;
}

.normal-font {
  font-weight: 400;
}
