.button {
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  box-shadow: #4F4F50 2px 3px 8px 0;
}

.button_background-color_blue {
  background-color: #1151F3;
}

.button_background-color_light-blue {
  background-color: #12A4F5;
}

.button_background-color_red {
  background-color: #F31155;
}

.button-link {
  background: none;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #1151F3;
}

.button-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
