.modal {
  position: fixed;
  left: 50%;
  top: -50%;
  margin-left: -200px;
  margin-top: -250px;
  min-width: 300px;
  height: auto;
  padding: 25px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: #4F4F50 2px 3px 8px 0;
  z-index: 2;
  transition: top .62s ease-in;
}

.modal.open {
  top: 50%;
}

.modal__header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

@media (max-width: 395px) {
  .modal {
    min-width: 200px;
    margin-left: -130px;
  }
}