.main:before {
  //z-index: 1;
}

.modal {
  position: fixed;
  left:50%;
  top:50%;
  margin-left: -200px;
  margin-top: -250px;
  min-width: 300px;
  height: auto;
  padding: 25px;
  border-radius: 4px;
  background-color: #FFFFFF;
  z-index: 2;
  box-shadow: #4F4F50 2px 3px 8px 0;
  display: none;
}

.modal:after {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url('../../img/close_20dp.svg');
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal__header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

@media (max-width: 395px) {
  .modal {
    min-width: 200px;
    margin-left: -130px;
  }
}