.main {
  height: 100vh;
  background-color: #E5E5E5;
}

.main:after {
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  background-image: url('../img/menu_20dp.svg');
  width: 20px;
  height: 20px;
  cursor: pointer;
}

